@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap');

body {
    background-color: rgb(16, 16, 16);
    font-family: 'Josefin Sans', sans-serif;
}

.Space-invaders {
    margin: auto;
    width: 800px;
    height: 600px;
}

img {
    height: 100%;
    width: 100%;
}

.titre {
    background-color: rgb(226, 188, 103);
    text-align: center;
    font-size: 2vw;
    padding: 1px;
}

.racine {
    height: 80vw;
    width: 80vw;
    background-image : url(./img/Racine_centre.jpeg);
    margin: auto;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton-racine {
    color: rgb(16, 16, 16);
    background-color: rgb(226, 188, 103);
    font-size: 2vw;
    border: none;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    padding: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bouton {
    color: rgb(226, 188, 103);
    background-color: rgb(16, 16, 16);
    margin: 5px 1vw;
}

.ALLtweet {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texte {
    background-color: rgb(226, 188, 103);
    color: rgb(16, 16, 16);
    font-size: 1vw;
    padding: 1vw;
    hyphens: auto;
    margin: 1vw;
    width: 50%;
}

.texteB {
    background-color: rgb(226, 188, 103);
    color: rgb(16, 16, 16);
    font-size: 1vw;
    padding: 1vw;
    hyphens: auto;
    margin: 1vw;
}

.contenu {
    background-color: rgb(230, 205, 150);
    padding: 1vw;
    width: 50%;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SpaceInvaders_link {
    background-color: rgb(226, 188, 103);
    margin: 1vw;
    padding: 5px;
}

.Bouton a {
    color: rgb(226, 188, 103);
    background-color: rgb(16, 16, 16);
}

.forme {
    background-color: rgb(226, 188, 103);
    color: rgb(16, 16, 16);
    margin: 1vw;
    padding: 5px;
    width: auto;
    display: flex;
    align-items: center;
}

.mainSUB {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form {
    background-color: rgb(226, 188, 103);
    color: rgb(16, 16, 16);
    margin: 5vw 1vw;
    padding: 2vw 1vw;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form input {
    background-color: rgb(194, 168, 111);
    color: rgb(16, 16, 16);
}

.forme input {
    background-color: rgb(194, 168, 111);
    color: rgb(16, 16, 16);
}

footer {
    background-color: rgb(226, 188, 103);
    padding: 1vw;
}

footer ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

footer ul li {
    padding-left: 2vw;
}

a {
    color: rgb(16 16 16);
}

@media (max-width: 700px) {
    .titre {background-color: rgb(16, 16, 16);
        color: rgb(226, 188, 103);
    }

    .texte {background-color: rgb(16, 16, 16);
        color: rgb(226, 188, 103);
    }

    footer {
        background-color: rgb(16, 16, 16);
    }

    a {
        color: rgb(226, 188, 103);
    }
}